header { display: flex;
background-color: #3A4042;
border-bottom: 10px solid black;
padding: 15px 20px;
justify-content: space-between;
align-items: center;}

img {height: 90px;
border: 2px solid white;
box-shadow: 8px 8px black;
margin-left: 15px;}

nav { text-align: right;}

a{ color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-family:"fira code";
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;}

a::before {content: "";
    
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin-right: 10px;}

#button {
    display: inline-block;
    background-color: #FFFFFF;
    color: black;
    line-height: 60px;
    padding: 08px 25px 23px 05px;
    box-shadow: 8px 8px 0 black;
    transition: transform 90ms linear;
    width: 170px;
    height: 40px;}


#button:hover {background-color: black;
color: white;
transform: scale(1.10);
box-shadow: none;}

