.skill {
    display: flex;
    align-items: center;
    font-family:'fira-code', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.skill .icon {
    margin-right: 25px;
    width: 90px;
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

