.wrapper-skill {
    margin-top: 152px;
    margin-left: 150px; 
    margin-right: 250px;
}

.wrapper-skill .skill {
    margin-bottom: 50px;
    width: 430px;
}

.wrapper-skill .progress-bar {
    width: 320px;
}

.skill .title {
    margin-bottom: 15.8px;
}
